<section>
    <div class="container">
    <div class="row">
<div class="col-md-6">
    <h1 class="text-center mt-4">Add Product</h1>

    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
        
    <label for="">Product Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
  
  
    <label for="">Category</label>
    <input type="text" class="form-control" id="category" name="category" placeholder="Category">
    <label for="">Price</label>
    <input type="text" class="form-control" id="price" name="price" placeholder="Price">
  <label for="">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Description">
    <label for="">image</label>
    <input type="file" class="form-control" id="image" name="image" >

    <button type="submit" class="btn btn-success mt-4">Submit</button>
  
  
  

    </form>


</div>
    </div>
    </div>
</section>