<div class="row">
    <div class="container">
<div class="col-md-6 m-5">
    <h5 class="text-center">Admin Panel</h5>
<form action="/admin/login" method="post">
  <div class="form-group">
    {{#if loginerr}}
    <p class="error">{{loginerr}}</p>
    {{/if}}
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>
</div>
</div>
</div>