<section>
    <div class="row text-center">
        <div class="container">
            <h6 class="text-center mt-5">You are successfully placed Your Order</h6>
            <hr>
            <p style="solid"></p>
            <br>
            <a href="/view-order" class="btn btn-success">view-order</a>
        </div>
    </div>
</section>